<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="VMFSupportContext" connectionString="User ID=VMF;Password=pass@word1;Initial Catalog=VMFSupport;Data Source=VMFactory;Persist Security Info=True;Pooling=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>