<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <add name="VMFSupportContext"
      connectionString="Data Source=sql.almrangers.com;Initial Catalog=VMFSupport.1.0.0.0.QA;Integrated Security=True;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <appSettings>
    <add 
      key="MAX_NUMBER_OF_VMs_RUNNING" 
      value="2"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add 
      key="BASE_VM_SOURCE_PATH" 
      value="C:\VMFactory\VirtualMachines\VMFactoryBaseMachine" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add 
      key="BASE_VM_CONFIG_FILE_PATH" 
      value="C:\VMFactory\VirtualMachines\VMFactoryBaseMachine\Virtual Machines\Virtual Machines\401F948E-BE5E-4189-A8C9-610563935C1D.xml" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add 
      key="BASE_VM_NAME" 
      value="VMFactoryBaseMachine" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add 
      key="NEW_VM_DESTINATION_PATH_TEMPLATE" 
      value="C:\VMFactory\VirtualMachines\{0}\" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add 
      key="VHD_SPLIT_DROP_LOCATION_TEMPLATE" 
      value="\\qa.almrangers.com\e$\VMfactory\VMs\{0}\" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add 
      key="VMF_STATUS_SERVICE_URL" 
      value="http://qa.almrangers.com/QA/VMRequestManagement.svc" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add 
      key="REQUEST_USER_CONFIRMATION" 
      value="False" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add 
      key="VHD_DROP_LOCATION" 
      value="\\qa.almrangers.com\e$\VMfactory\VMs\{0}\VHD.7z" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />


    <add 
      key="BASE_VM_DOWNLOAD_URL" 
      value="ftp://qa.almrangers.com"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add 
      key="TEMPORARY_DRIVE_LETTER" 
      value="X:"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />


  </appSettings>

</configuration>