<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="VMFSupportContext" connectionString="User ID=VMF;Password=pass@word1;Initial Catalog=VMFSupport;Data Source=VMFactory;" providerName="System.Data.SqlClient" />
    <add name="VMFSupportEntities" connectionString="metadata=res://*/VMFactoryData.csdl|res://*/VMFactoryData.ssdl|res://*/VMFactoryData.msl;provider=System.Data.SqlClient;provider connection string=&quot;User ID=vmfactory;Password=Pass@word1;Initial Catalog=VMFSupport;Data Source=rmwin2K12;Persist Security Info=True;Pooling=True;MultipleActiveResultSets=True;connect timeout=15;encrypt=False;trustservercertificate=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Wait time (seconds) between cicles if no work or lack of conditions to provision machines -->
    <add key="WAIT_TIME_BETWEEN_CICLES" value="10" />
    
    <!-- Max number of running VMs -->
    <add key="MAX_NUMBER_OF_VMs_RUNNING" value="5" />
    <!-- Hyper-V server name -->
    <add key="HYPERV_HOST_NAME" value="localhost" />
    <!-- User information is only needed if code is not running on the Hyper-V host machine -->
    <!-- User pwd-->
    <add key="HYPERV_PWD" value="userpassword" />
    <!-- User name /login-->
    <add key="HYPERV_USER_NAME" value="domain\username" />
    
    <!-- Size of each volume in MB-->   
    <add key="VHD_BLOCK_SPLIT_SIZE" value="500" />
    <!-- Drop location -->
    <add key="VHD_SPLIT_DROP_LOCATION_TEMPLATE" value="D:\Workarea\VMFActory\DropFolder\{0}\" />
    <add key="VHD_DROP_LOCATION" value=".\VHD.7z" />
    <add key="VHD_COMPRESSION_LEVEL" value="5"/>
    <add key="VHD_TEMP_DROP_LOCATION" value="C:\Windows\Temp\"/>

    <!-- the folder where the base VM will be (no trail \\) -->
    <add key="BASE_VM_SOURCE_PATH" value="D:\_VMs\VMFBase_" />
    <add key="BASE_VM_CONFIG_FILE_PATH" value="D:\_VMs\VMFBase_\VMFBase\Virtual Machines\875FDDCF-7415-47EB-BB16-566AC2225B02.XML" />
    
    <add key="BASE_VM_NAME" value="VMFBase" />
    <add key="NEW_VM_DESTINATION_PATH_TEMPLATE" value="D:\_VMs\{0}\" />
    <add key="NEW_VM_VHD_PATH_TEMPLATE" value="D:\_VMs\{0}\VMFBase.vhd" />
    <add key="BASE_VM_DOWNLOAD_URL" value="ftp://vmfactory.url.com/download"/>
    <!-- -->
    <add key="TEMPORARY_DRIVE_LETTER" value="X:" />
    
    <!-- location of dism.exe-->
    <add key="DISM_PATH" value="C:\Windows\System32\" />
    <add key="VMF_STATUS_SERVICE_URL" value="http://" />
    <add key="VMF_CONFIG_FILE" value="VMFConfig.xml" />
    
    <!-- Request user confirmation -->
    <add key="REQUEST_USER_CONFIRMATION" value="False" />

    <!-- Outgoing Email settings -->
    <add key="OutgoingEmailSmtpServer" value="smtp.live.com" />
    <add key="OutgoingEmailSmtpUser" value="vmfactory@outlook.com" />
    <!-- Needs to be incripted -->
    <add key="OutgoingEmailSmtpPassword" value="@Pass@word1" />
    <add key="OutgoingEmailFromAddress" value="vmfactory@outlook.com" />

  </appSettings>
</configuration>