@model dynamic

@{
    ViewBag.Title = "Placeholder";
    Layout = "_Layout";
}

<h2>Placeholder</h2>

This is the current landing page. When the my-VMs controller is complete, this controller & views can be deleted.