<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MAX_NUMBER_OF_VMs_RUNNING" value=""/>
    <add key="HYPERV_HOST_NAME" value="SCRUMDOD"/>
    <add key="HYPERV_PWD" value="_D!esel26"/>
    <add key="HYPERV_USER_NAME" value="SCRUMDOD\ROB"/>
    
  </appSettings>
  
</configuration>