@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This is the first version of the VM Factory Services, a factory where you can produce Virtual Machines on request, anytime, anywhere in the World.
        Current implementation is template based as this approach helped us to reach a visible state faster. Nevertheless, a much more configurable approach 
        is being developped and is the main goal of this platform. 
    </p>
    <p>Feel free to use it! <br />
        Feel free to smash us with feedback! <br />
        We are eager to receive it! <b>Just reply to the email you receive when you request a VM.</b></p>
    <p>
        This project also aims to deliver practical guidance for the implementation of a virtual machine factory with the intent of creating variations of 
        Visual Studio and Team Foundation Server VM images. We will guide you through the process of setting up a VM Factory and customizing it.
    </p>

</article>

<aside>
    <h3>Top relevant links</h3>
    <p>
        These are the most relevant references for information about the project.
    </p>
    <ul>
        <li><a href="http://vsarvmfactory.codeplex.com" target="_blank">Project landing page</a></li>
        <li><a href="http://go.microsoft.com/fwlink/?LinkID=247829" target="_blank">Understanding the Visual Studio ALM Rangers</a></li>
        <li><a href="http://www.codeplex.com/site/search?query=ALM%20Rangers&sortBy=CurrentReleaseDate&licenses=|&refinedSearch=true" target="_blank">ALM Rangers solutions on Codeplex</a></li>
    </ul>
</aside>