@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about VM Factory visit
                <a href="http://vsarvmfactory.codeplex.com/" title="VM Factory Website">http://vsarvmfactory.codeplex.com/</a>.
                
             
            </p>
        </div>
    </section>
}

<h3>Welcome to the VM factory self-service portal</h3>
<ol class="round">
    <li >
        <h5>Request a VM and let the system build it up for you</h5>
        Pick one of the templates and let the system configure the VM for you.
        When it is ready for pick-up, you'll receive an email informming where to download it from.
        It's easy, simple and much faster than installing it and configuring it yourself.
    </li>

    <li >
        <h5>Request a new template</h5>
        The current version is template based. If you need a template that is not available fill in the request form for a new template.
        We'll evaluate it and try to provide it for you.
    </li>

    <li>
        <h5>Let us know what you think!</h5>
        What do you think about this service? Let us know!
    </li>
</ol>

