<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MAX_NUMBER_OF_VMs_RUNNING" value="2" />
    <add key="HYPERV_HOST_NAME" value="SCRUMDOD" />
    <add key="HYPERV_PWD" value="_D!esel26" />
    <add key="HYPERV_USER_NAME" value="SCRUMDOD\ROB" />
    
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>